.Introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    row-gap: 25px;
}

.IntroductionTitle {
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    column-gap: 10px;
    row-gap: 20px;
    align-items: center;

    
    h1 {
        font-size: 42px;
        line-height: 42px;
        -webkit-text-stroke: 1px black;
        font-weight: bold;
        color: white;
        display: flex;
        flex-direction: column;

        span {
            color: black;
            font-size: 32px;
            line-height: 32px;
        }
    }

    img {
        width: 71px;
        height: 74px;
    }

    @media (max-width : 768px) {
        flex-direction: column;
    }
}