.SectionPage{
    display: flex;
    width: 80%;
    max-width: 1152px;
    margin: 0 auto;
    gap: 25px;
    // min-height: 100vh;
}

@media (max-width : 768px) {
    .SectionPage{
        width: 90%;
        flex-direction: column;
    }
}